h1{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 60px;
}
h2{
  font-family: 'Dela Gothic One', sans-serif;
   font-size: 50px;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: rgba(255, 166, 0, 0.735);
}
p{
    font-size: 18px;
}
.indexBody{
    margin: 0 auto;
    display: block; 
      background: #faf5e4;
}
.navbar{
 background: transparent;
}
.indexPage{
    border:1px solid white;
    background: #fafafa;
    padding: 20px 35px;
}
.couch_image{
    opacity: 2;
}
.aboutPage{
    margin: 0 auto;
    display: block;
     padding: 0;
    background: #faf5e4;
}
.slogan{
    border: 1px solid black;
 font-family: 'Cormorant Garamond', serif;
}
.red_lady{
    top: -12px;
    margin-left: 60px;
    margin-bottom: 0;
    max-width: 400px;
    margin-right: 120px;
}
.table{
   width: 500px;
    margin-right: 90px;
}
@media(min-width:770px){
    .table{
        margin-top: 500px;
    }
}

